.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

article {
    padding-bottom: 300px;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.navArea {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 45px;
    background: #dc4950;
    line-height: 45px;
    text-align: center;
}

.navDetailArea {
    background: #fff;
}

.navArea h2 {
    /*    display: inline-block;*/
    
    color: #fff;
    font-size: 17px;
}

.nav_ico {
    position: absolute;
    width: 33px;
    height: 45px;
}

.nav_return {
    top: 0;
    left: 0;
    background: url('../images/nav_return.png') center center no-repeat;
    background-size: 10px 18px;
}

.nav_more {
    top: 0;
    right: 0;
    background: url('../images/nav_more.png') center center no-repeat;
    background-size: 18px 4px;
}

.nav_other {
    top: 0;
    right: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.nav_home {
    top: 0;
    right: 33px;
    background: url('../images/nav_o_1.png') center center no-repeat;
    background-size: 32px 32px;
}

.nav_other_return {
    top: 0;
    left: 0;
    background: url('../images/nav-return.png') center center no-repeat;
    background-size: 10px 18px;
}

.nav_other_more {
    top: 0;
    right: 0;
    background: url('../images/nav-more.png') center center no-repeat;
    background-size: 33px 33px;
}

.nav_other_share {
    top: 0;
    right: 33px;
    background: url('../images/nav-share.png') center center no-repeat;
    background-size: 33px 33px;
}

.nav_searchBox {
    /*
    position: absolute;
    top: 0;
    left: 33px;
    width: 60%;
*/
    
    margin: 0 75px 0 35px;
}

.nav_search {
    border: 0;
    height: 32px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: #333;
    padding: 0 5px;
    box-sizing: border-box;
}

.exp {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color：#666;
    font-size: 16px;
    line-height: 22px;
}

.block {
    width: 100px;
    height: 100px;
    background: #f60;
}

.change {
    margin: 0 0 0 110px;
}

.change2 {
    margin: 0 110px 0 10px;
}

.change3 {
    margin: 0 110px;
}

.change4 {
    margin-right: 10px;
}

.block2 {}

.change5 {
    margin-left: 10px;
}

.searchArea {
    height: 31px;
    border: 2px solid #dc4950;
    margin: 10px 0;
}

.searchArea .search {
    margin: 0 53px 0 0;
}

.searchArea input {
    width: 100%;
    height: 31px;
    border: none;
    background: #fff;
    padding: 0 5px;
    box-sizing: border-box;
}

.search_btn {
    width: 53px;
    height: 31px;
    background: url('../images/search_button.jpg') no-repeat;
    background-size: 53px 31px;
}

.exp_date {
    display: -webkit-box;
    height: 100px;
}

.exp_date .inputcon {
    -webkit-box-flex: 1;
}

.exp_date .inputcon input {
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    padding: 0 10px;
    box-sizing: border-box;
}

.nav_ico2 {
    width: 33px;
    height: 45px;
}

.nav_return2 {
    background: url('../images/nav_return.png') center center no-repeat;
    background-size: 10px 18px;
}

.nav_more2 {
    background: url('../images/nav_more.png') center center no-repeat;
    background-size: 18px 4px;
}

.nav_home2 {
    background: url('../images/nav_o_1.png') center center no-repeat;
    background-size: 32px 32px;
}

.block_container {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
}

.block_container2 {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    height: 100px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.block1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    background: red;
    width: 0;
}

.block2 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    background: #f60;
    width: 0;
}

.block3 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    background: #93b200;
    width: 0;
}

.itemBox {
    display: -webkit-box;
    height: 60px;
    line-height: 60px;
    margin: 10px 0;
}

.itemBox3 {
    display: -webkit-box;
    -webkit-flex-flow: row wrap;
    box-lines: multiple;
    height: 60px;
    line-height: 60px;
    margin: 10px 0;
}

.aa,
.bb {
    -webkit-box-flex-group: 1;
}

.cc,
.dd {
    -webkit-box-flex-group: 2;
}

.item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    width: 1px;
}

.item a {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    font-size: 20px;
    text-align: center;
    margin: 0 10px;
}

.item a:hover {
    background: #dc4950;
    color: #fff;
}

.itemBox2 {}

.item2 {
    float: left;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}

.item2 a {
    float: left;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #93b200;
    color: #fff;
    font-size: 20px;
    border: 1px solid green;
}

.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
    line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.carousel-indicators {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    margin: 0;
    list-style: none;
}

.carousel-indicators li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
    line-height: 20px;
    color: #ffffff;
}

.carousel-caption h4 {
    margin: 0 0 5px;
}

.carousel-caption p {
    margin-bottom: 0;
}
/*num css*/

.countarea {}

.countBox {
    width: 190px;
    margin: 100px auto;
}

.num {
    float: left;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #eee url('../images/num_add.png') no-repeat center center;
}

.count {
    float: left;
    width: 28px;
    height: 28px;
    border: none;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    line-height: 28px;
}

.minus_btn {
    background: #ccc url('../images/num_minus1.png') no-repeat center center;
    background-size: 14px 14px;
}

.add_btn {
    background: #fff url('../images/num_add.png') no-repeat center center;
    background-size: 14px 14px;
}